body {
	margin: 0;
	background: url('img/bg.jpg');
	background-size: cover;
}

.item {
	width: 125px;
	height: 125px;
	margin: 20px auto;
	background: url('img/rope-all.png');
	cursor: pointer;
}

.item1        { background-position: 0 0; }
.item1:hover  { background-position: -140px 0; }
.item1:active { background-position: -280px 0; }

.item2        { background-position: 0 -140px; }
.item2:hover  { background-position: -140px -140px; }
.item2:active { background-position: -280px -140px; }

.item3 		  { background-position: 0 -280px; }
.item3:hover  { background-position: -140px -280px; }
.item3:active { background-position: -280px -280px; }

.item4        { background-position: 0 -420px; }
.item4:hover  { background-position: -140px -420px; }
.item4:active { background-position: -280px -420px; }